

WORKING FILE CURRENTLY 
  

.container {
  margin-top: 18px;
  padding-top: 100px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}


.avatar {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding-top: 50px;
  justify-content: center; 
  text-align: center;
  top: 50px;
  height: 800px; 

}

.avatar2 {
  display: inline;
  box-sizing: border-box;
  float: left;
  width: 50%;
  top: 0;
  left: 0;
  padding-top: 115px;
  justify-content: center; 
  text-align: center;
  position: relative;
}

.avatarbackground {
  padding: 25px; 
  margin: 40px 100px 40px 100px; 
  background-color: #40A15A;
background-image: url("https://www.transparenttextures.com/patterns/church.png");
}

#new_tweet {
  box-sizing: border-box;
  padding-top: 115px;
  float: right;
  width: 50%;
  justify-content: center;
  align-items: center;
  
}

#tweetcontainer {
  box-sizing: border-box;
  float: right;
  justify-content: center;
  align-items: center;
  width: 50%;
 padding: 25px; 
}

h2 {
  background-color: #40A15A;
background-image: url("https://www.transparenttextures.com/patterns/church.png");
margin: 30px;
color: papayawhip;

}

.tweetform {
  background-color: #f4f1ec;
  resize: none;
  width: 600px; 
  border: none; 
  border-bottom: 5px solid rgb(80, 41, 10);
}

.submitbutton {
  color: #FFFFFF;
  background-color: #4056A1;
  border: none;
  padding: 4px 6px 4px 6px;
  text-decoration: none;
  margin: 4px;
  cursor: pointer;
  font-family: 'Bungee', cursive;
}

.counter {
  font-family: 'Bungee', cursive;
}

.tweetbutton {
  box-sizing: border-box;
  align-items: center;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-right: 5%;
  padding-left: 5%;

}


::placeholder {
  padding-top: 3px; 
  font-size: 1em;
  color: rgb(80, 41, 10);
  font-weight: bold; 
}


/* --- new tweet format  */

.tweets {  background-color: #f4f1ec;
  resize: none;
  width: 100%;
  border: 3px solid rgb(80, 41, 10);
  border-radius: 20px; 
  justify-content: center;
  align-items: center;
  margin-bottom: 25px; 
  }
  
  .tweets:hover{
  box-shadow: 4px 7px #abb5d3;
  }

  .icon {
    padding: 5px; 

}

  .icon:hover {
  color: #40A15A;
  }

  .tweetheader {
  box-sizing: border-box;
  align-items: flex-start;
  margin: 0;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  }

  .tweetmain{
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  margin: 0;
  display: flex;
  width: 100%;


  }

  .tweetfooter{
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  font-size: 15px;
  border-top: 3px solid rgb(80, 41, 10);
  margin-top: 15px; 
  padding-top:10px;

  }

  .articlebox {
    width:100%;
    padding: 10px; 
  }

  .lightcolor {
    color: #96c9a3;
    font-weight: bold; 
    margin-left: auto;
    padding: 20px; 
    font-size: 25px; 
  }

  .parent {
    display: flex; 
    justify-content: space-between;
    width: 100%;
  }

  .text {
    font-weight: bold; 
  }

  .right {
    margin-left: auto;
  }

  .margin_top {
    padding: 10px; 
  }

  .name {
    padding: 20px; 
    font-size: 25px; 
  }

  #error1, #error2
  {
  
    border: 3px solid #a1404b;
    border-radius: 20px; 
    align-items: center;
    justify-content: center;
    text-align: center; 
    margin: 10px;
    color: #a1404b;
    font-size: 20px; 
    font-weight: bold;
    padding: 2px; 
  } 


  @media only screen and (min-width: 1024px) {
    .avatarbackground {
    background-image: url("https://www.transparenttextures.com/patterns/church.png");
    }

  }