
.avatar {

  width: 100%;
  height: 400px;
  top: 0;
  left: 0;
  z-index: 9;
  margin: 0px;
  padding-top: 115px;
  justify-content: center; 
  text-align: center;
  background-color: #40A15A;
background-image: url("https://www.transparenttextures.com/patterns/church.png");

}

h2 {
  background-color: #40A15A;
background-image: url("https://www.transparenttextures.com/patterns/church.png");
margin: 0px;
color: papayawhip;
}