.tweetform {
  background-color: #f4f1ec;
  resize: none;
  width: 90%; 
  border: none; 
  border-bottom: 5px solid rgb(80, 41, 10);
}

.submitbutton {
  color: #FFFFFF;
  background-color: #4056A1;
  border: none;
  padding: 4px 6px 4px 6px;
  text-decoration: none;
  margin: 4px;
  cursor: pointer;
  font-family: 'Bungee', cursive;
}

.counter {
  font-family: 'Bungee', cursive;
}

.tweetbutton {
  box-sizing: border-box;
  align-items: center;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-right: 5%;
  padding-left: 5%;

}
#tweetcontainer {
  justify-content: center;
  align-items: center;
}

::placeholder {
  padding-top: 3px; 
  font-size: 1em;
  color: rgb(80, 41, 10);
  font-weight: bold; 
}


/* --- new tweet format  */

.tweets {  background-color: #f4f1ec;
  resize: none;
  width: 90%; 
  border: 3px solid rgb(80, 41, 10);
  border-radius: 20px; 
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 50px;
  }
  .tweets:hover{
  box-shadow: 4px 7px #abb5d3;
  }

  .icon {
    padding: 5px; 

}

  .icon:hover {
  color: #40A15A;
  }

  .tweetheader {
  box-sizing: border-box;
  align-items: flex-start;
  margin: 0;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  }

  .tweetmain{
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  margin: 0;
  display: flex;
  width: 100%;


  }

  .tweetfooter{
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  font-size: 15px;
  border-top: 3px solid rgb(80, 41, 10);
  margin-top: 15px; 
  padding-top:10px;

  }

  .articlebox {
    width:100%;
    padding: 10px; 
  }

  .lightcolor {
    color: #96c9a3;
    font-weight: bold; 
    margin-left: auto;
  }

  .parent {
    display: flex; 
    justify-content: space-between;
    width: 100%;
  }

  .new_tweet {
    margin-top: 50px; 
    width: 50%;
  }

  .text {
    font-weight: bold; 
  }

  .right {
    margin-left: auto;
  }

  .margin_top {
    padding: 10px; 
  }